doctype
html
	head
		title ApplyCU Log On
		link(rel='stylesheet', href='/vendor/bootstrap.min.css')
		link(rel='stylesheet', href='/css/style.css')
		link(rel='apple-touch-icon', href='/css/cuapp-icon.png')
		//DISABLING MOBILE ZOOMING FEATURE
		//meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
		//meta(name='viewport', content='width=devicewidth,initial-scale=1.0')
		//meta(name='viewport', content='width=device-width')
		//meta(name='viewport', content='device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
		//meta(name='viewport' content='initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width, height=device-height, target-densitydpi=device-dpi, user-scalable=yes')
		meta(name='http-equiv="X-UA-Compatible', content='IE=edge')
		meta(name='mobile-web-app-capable', content='yes')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-mobile-web-app-status-bar-style', content='black')
	
		body
		block content
		block scripts